In [2]:
import pandas as pd
import matplotlib as plt
import seaborn as snb
import numpy as np

df = pd.read_csv(r"C:\Users\pdani\Downloads\fifa_eda.csv")
print(df.head(3))

       ID               Name  Age Nationality  Overall  Potential  \
0  158023           L. Messi   31   Argentina       94         94
1   20801  Cristiano Ronaldo   33    Portugal       94         94
2  190871          Neymar Jr   26      Brazil       92         93

                  Club     Value   Wage Preferred Foot  \
0         FC Barcelona  110500.0  565.0           Left
1             Juventus   77000.0  405.0          Right
2  Paris Saint-Germain  118500.0  290.0          Right

   International Reputation  Skill Moves Position  Joined  \
0                       5.0          4.0       RF    2004
1                       5.0          5.0       ST    2018
2                       5.0          5.0       LW    2017

  Contract Valid Until    Height  Weight  Release Clause
0           2021-01-01  5.583333   159.0        226500.0
1           2022-01-01  6.166667   183.0        127100.0
2           2022-01-01  5.750000   150.0        228100.0

In [16]:
df.sample(20)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
14081,234288,M. Uusitalo,21,Finland,61,71,HJK Helsinki,325.0,1.0,Right,1.0,1.0,GK,2016,2019-01-01,6.166667,201.0,764.000000
6464,223709,A. Vural,27,Turkey,69,71,Sivasspor,850.0,5.0,Right,1.0,1.0,GK,2016,2020-01-01,6.166667,176.0,1800.000000
7455,202708,L. Palun,29,Gabon,68,68,KSV Cercle Brugge,675.0,6.0,Right,1.0,2.0,RB,2017,2019-01-01,5.833333,170.0,979.000000
7314,184747,C. Martin,29,Scotland,68,68,Hull City,900.0,19.0,Right,1.0,2.0,ST,2016,2019-06-30,6.083333,161.0,4585.060806
7466,181205,A. Hloušek,29,Czech Republic,68,68,Legia Warszawa,675.0,4.0,Left,1.0,2.0,LB,2016,2019-01-01,6.166667,168.0,945.000000
273,198141,Bartra,27,Spain,82,83,Real Betis,21000.0,32.0,Right,3.0,3.0,CB,2018,2023-01-01,6.000000,161.0,45700.000000
12528,206202,O. Norburn,25,England,63,66,Shrewsbury,450.0,2.0,Right,1.0,3.0,RCM,2018,2021-01-01,6.083333,181.0,821.000000
9515,228770,J. Segura,21,Colombia,66,79,Independiente Medellín,1100.0,9.0,Right,1.0,2.0,CB,2016,2018-12-31,6.166667,176.0,4585.060806
5529,177373,L. Nielsen,30,Denmark,70,70,Malmö FF,1300.0,4.0,Right,1.0,2.0,RCB,2017,2020-01-01,6.083333,163.0,1700.000000
6355,182207,D. Stockdale,32,England,69,69,Birmingham City,600.0,10.0,Right,1.0,1.0,GK,2017,2021-01-01,6.250000,185.0,1100.000000
2006,214491,L. Quiñones,27,Colombia,75,75,Deportivo Toluca,7000.0,46.0,Left,1.0,4.0,LM,2016,2018-12-31,5.833333,143.0,4585.060806
7482,224986,Jesús Valentín,26,Spain,68,71,Córdoba CF,925.0,4.0,Right,1.0,2.0,CB,2018,2020-01-01,6.083333,174.0,1500.000000
5376,201908,A. Wisdom,25,England,70,75,Derby County,2000.0,20.0,Right,1.0,2.0,RB,2017,2021-01-01,6.083333,172.0,3900.000000
8365,231587,L. Caicedo,22,Colombia,67,74,New England Revolution,1100.0,3.0,Right,1.0,3.0,RDM,2018,2021-01-01,5.666667,148.0,1700.000000
3696,215965,C. Strandberg,22,Sweden,72,78,Malmö FF,4300.0,6.0,Left,1.0,3.0,ST,2017,2021-01-01,6.083333,187.0,6500.000000
6711,216860,V. Černý,20,Czech Republic,68,75,Ajax,1300.0,6.0,Left,1.0,3.0,RW,2014,2020-01-01,6.000000,143.0,2000.000000
11639,222622,Hui Jiakang,29,China PR,64,64,Tianjin TEDA FC,450.0,4.0,Right,1.0,4.0,LW,2012,2020-01-01,5.916667,165.0,968.000000
3366,190769,E. Lamanna,28,Italy,72,74,Spezia,2600.0,3.0,Right,1.0,1.0,GK,2018,2019-01-01,6.166667,176.0,4200.000000
6956,162900,N. Kilkenny,32,Australia,68,68,Perth Glory,525.0,3.0,Right,1.0,2.0,LDM,2018,2021-01-01,5.666667,148.0,656.000000
3076,225478,Serginho,24,Brazil,73,78,Kashima Antlers,5500.0,11.0,Left,1.0,3.0,ST,2018,2020-01-01,5.916667,181.0,7600.000000

In [ ]:
import pandas as pd

num_cols = df.select_dtypes(include="number").columns
global_stats = (
    df[num_cols]
      .agg(["mean", "min", "max"])  
      .T                   
      .round(0)
      .astype("Int64")
)
print("=== GLOBAL (mean/min/max) ===")
print(global_stats)

candidatas_pais = ["nationality", "Nationality", "nacionalidad", "Pais", "Country", "country"]
country_col = next((c for c in candidatas_pais if c in df.columns), None)

if country_col is None:
    raise KeyError("No encontré la columna de país. Revisa df.columns y ajusta 'candidatas_pais'.")

stats_by_country = (
    df.groupby(country_col)[num_cols]
      .agg(["mean", "min", "max"])
      .round(0)
      .astype("Int64")
)

print(f"\n=== POR PAÍS ({country_col}) (mean/min/max) ===")
print(stats_by_country.head(10))

=== GLOBAL (mean/min/max) ===
                            mean   min     max
ID                        214298    16  246620
Age                           25    16      45
Overall                       66    46      94
Potential                     71    48      95
Value                       2445    10  118500
Wage                          10     0     565
International Reputation       1     1       5
Skill Moves                    2     1       5
Joined                      2016  1991    2018
Height                         6     5       7
Weight                       166   110     243
Release Clause              4585    13  228100

=== POR PAÍS (Nationality) (mean/min/max) ===
                       ID                  Age         Overall          \
                     mean     min     max mean min max    mean min max
Nationality
Afghanistan        234744  223989  244175   22  20  26      61  59  63
Albania            221682  170612  245792   24  18  34      66  52  81
Algeria            206356   49659  245565   27  19  35      71  58  85
Andorra            192937  192937  192937   28  28  28      62  62  62
Angola             206676  144037  242188   26  19  34      68  60  78
Antigua & Barbuda  214706  197930  235773   23  20  27      62  58  69
Argentina          214453   14907  246609   26  16  41      69  51  94
Armenia            209415  176270  235989   27  22  32      69  63  83
Australia          213023  138336  246196   24  16  37      63  50  79
Austria            214590   12940  245233   25  16  37      65  48  85

                  Potential  ... Joined Height         Weight            \
                       mean  ...    max   mean min max   mean  min  max
Nationality                  ...
Afghanistan              68  ...   2018      6   6   6    149  143  152
Albania                  72  ...   2018      6   6   6    164  137  196
Algeria                  73  ...   2018      6   6   6    167  132  207
Andorra                  64  ...   2018      6   6   6    174  174  174
Angola                   72  ...   2018      6   6   6    167  143  192
Antigua & Barbuda        68  ...   2018      6   6   6    165  161  168
Argentina                73  ...   2018      6   5   6    166  123  218
Armenia                  72  ...   2018      6   6   6    167  154  181
Australia                68  ...   2018      6   5   6    166  123  218
Austria                  70  ...   2018      6   5   6    168  132  216

                  Release Clause
                            mean  min     max
Nationality
Afghanistan                  617  374     878
Albania                     3694  116   35500
Algeria                     8490  259   78000
Andorra                      384  384     384
Angola                      3624  463   17800
Antigua & Barbuda           1081  312    2800
Argentina                   5343   29  226500
Armenia                     6561  736   48500
Australia                   1326   38   20700
Austria                     2827   87   65600

[10 rows x 36 columns]

In [6]:
import pandas as pd
import numpy as np

# --- Columnas esperadas (exactas, como en tu dataset) ---
EXPECTED_COLS = [
    "ID","Name","Age","Nationality","Overall","Potential","Club","Value","Wage",
    "Preferred Foot","International Reputation","Skill Moves","Position",
    "Joined","Contract Valid Until","Height","Weight","Release Clause"
]

# 0) Verificación suave (no truena si falta alguna, solo avisa)
missing = [c for c in EXPECTED_COLS if c not in df.columns]
if missing:
    print("⚠️ Estas columnas no están en tu df y se ignorarán:", missing)

# --- 1) Construir “molde” por columna con defaults coherentes ---
molde = {}
for c in df.columns:
    s = df[c].dropna()
    if s.empty:
        molde[c] = np.nan
    else:
        if pd.api.types.is_numeric_dtype(s):
            molde[c] = float(s.median())
        else:
            try:
                molde[c] = s.mode(dropna=True).iloc[0]
            except Exception:
                molde[c] = s.iloc[0]

def safe_set(d, col, val):
    if col in df.columns:
        d[col] = val

# --- 2) ID siguiente (si es numérico) ---
def next_ids(n=2):
    if "ID" in df.columns:
        if pd.api.types.is_numeric_dtype(df["ID"]):
            base = int(pd.to_numeric(df["ID"], errors="coerce").max() or 0)
            return [base + i for i in range(1, n+1)]
        else:
            # Si ID no es numérico, crea IDs string únicos
            return [f"NEW_{i}" for i in range(1, n+1)]
    return [None]*n

id1, id2 = next_ids(2)

# --- 3) Jugador 1: Fernando José Zuñiga Santos (México) ---
p1 = molde.copy()
safe_set(p1, "ID", id1)
safe_set(p1, "Name", "Fernando José Zuñiga Santos")
safe_set(p1, "Nationality", "Mexico")
safe_set(p1, "Age", 24)
safe_set(p1, "Overall", 82)
safe_set(p1, "Potential", 95)
safe_set(p1, "Club", "Analítica FC")
safe_set(p1, "Position", "ST")
safe_set(p1, "Preferred Foot", "Right")
safe_set(p1, "International Reputation", 3)
safe_set(p1, "Skill Moves", 4)
# Estas tres columnas a veces son strings con símbolo/abreviaturas; si en tu df son numéricas, se castea abajo
safe_set(p1, "Value", "€28M")
safe_set(p1, "Wage", "€65K")
safe_set(p1, "Release Clause", "€56M")
# Fechas: respeta el formato de tu df (string tipo "2019-07-01" o solo año). Usamos los defaults si tu df usa otro formato:
safe_set(p1, "Joined", "2023-07-01")
safe_set(p1, "Contract Valid Until", 2028)
# Altura/Peso: respeta el formato del df (algunos usan "5'11\"" y "176lbs"; otros usan numérico). Dejamos valores razonables:
safe_set(p1, "Height", molde.get("Height", "178cm"))
safe_set(p1, "Weight", molde.get("Weight", "73kg"))

# --- 4) Jugador 2: Satiago Quiroga Garcia (México) ---
p2 = molde.copy()
safe_set(p2, "ID", id2)
safe_set(p2, "Name", "Satiago Quiroga Garcia")  # (si querías "Santiago", dime y lo cambio)
safe_set(p2, "Nationality", "Mexico")
safe_set(p2, "Age", 21)
safe_set(p2, "Overall", 76)
safe_set(p2, "Potential", 85)
safe_set(p2, "Club", "Club Deportivo Datos")
safe_set(p2, "Position", "CM")
safe_set(p2, "Preferred Foot", "Left")
safe_set(p2, "International Reputation", 2)
safe_set(p2, "Skill Moves", 3)
safe_set(p2, "Value", "€12M")
safe_set(p2, "Wage", "€25K")
safe_set(p2, "Release Clause", "€30M")
safe_set(p2, "Joined", "2024-01-15")
safe_set(p2, "Contract Valid Until", 2029)
safe_set(p2, "Height", molde.get("Height", "175cm"))
safe_set(p2, "Weight", molde.get("Weight", "70kg"))

# --- 5) Armar DF nuevo con mismas columnas (en el orden del df original) ---
new_players = pd.DataFrame([p1, p2], columns=df.columns)

# --- 6) Intentar castear columnas numéricas a número, sin romper strings monetarios ---
for c in new_players.columns:
    if c in df.columns and pd.api.types.is_numeric_dtype(df[c]):
        new_players[c] = pd.to_numeric(new_players[c], errors="coerce")

# --- 7) Concatenar ---
df = pd.concat([df, new_players], ignore_index=True)

# --- 8) Mostrar verificación (usa nombres EXACTOS de tus columnas) ---
cols_show = [c for c in [
    "ID","Name","Nationality","Age","Overall","Potential","Club","Position","Value","Wage","Release Clause"
] if c in df.columns]

print("✅ Se agregaron jugadores. Vista rápida:")
print(df.tail(5)[cols_show])

✅ Se agregaron jugadores. Vista rápida:
           ID                         Name Nationality  Age  Overall  \
18204  241638                    B. Worman     England   16       47
18205  246268               D. Walker-Rice     England   17       47
18206  246269                    G. Nugent     England   16       46
18207  246621  Fernando José Zuñiga Santos      Mexico   24       82
18208  246622       Satiago Quiroga Garcia      Mexico   21       76

       Potential                  Club Position  Value  Wage  Release Clause
18204         67      Cambridge United       ST   60.0   1.0           165.0
18205         66       Tranmere Rovers       RW   60.0   1.0           143.0
18206         66       Tranmere Rovers       CM   60.0   1.0           165.0
18207         95          Analítica FC       ST    NaN   NaN             NaN
18208         85  Club Deportivo Datos       CM    NaN   NaN             NaN

In [7]:
# Nombres a depurar
names = ["Fernando José Zuñiga Santos", "Satiago Quiroga Garcia"]  # cambia a "Santiago" si ese era el bueno

# 1) Localiza SOLO las filas de esos nombres
mask = df["Name"].isin(names)
dups = df[mask].copy()

# 2) Para cada nombre, conserva la *última* aparición (asumimos que es la corregida)
keep_idx = dups.groupby("Name").tail(1).index
drop_idx = dups.index.difference(keep_idx)

# 3) Elimina duplicados antiguos
df = df.drop(index=drop_idx)

# 4) Verificación rápida
cols_show = [c for c in ["Name","Nationality","Club","Position","Potential","Value","Wage","Release Clause"] if c in df.columns]
print("Filas restantes (1 por jugador):")
print(df[df["Name"].isin(names)][cols_show])

# (Opcional) Si también quieres asegurar que la Nationality sea Mexico para ambos:
# df.loc[df["Name"]=="Fernando José Zuñiga Santos", "Nationality"] = "Mexico"
# df.loc[df["Name"]=="Satiago Quiroga Garcia", "Nationality"] = "Mexico"

Filas restantes (1 por jugador):
                              Name Nationality                  Club Position  \
18207  Fernando José Zuñiga Santos      Mexico          Analítica FC       ST
18208       Satiago Quiroga Garcia      Mexico  Club Deportivo Datos       CM

       Potential  Value  Wage  Release Clause
18207         95    NaN   NaN             NaN
18208         85    NaN   NaN             NaN

In [8]:
df.tail(2)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,TZ Name,Time Zone,Candidato
18207,246621,Fernando José Zuñiga Santos,24,Mexico,82,95,Analítica FC,NaN,NaN,Right,...,4.0,ST,NaN,2028,5.916667,165.0,NaN,Europe/London,GMT+2,Next Year
18208,246622,Satiago Quiroga Garcia,21,Mexico,76,85,Club Deportivo Datos,NaN,NaN,Left,...,3.0,CM,NaN,2029,5.916667,165.0,NaN,Europe/London,GMT+2,Next Year

In [3]:
# Si te falta pycountry, primero ejecuta esta línea (descoméntala):
# %pip install pycountry

import pandas as pd
import pytz
import pycountry
from datetime import datetime

# 1) Cargar tu archivo (ajusta la ruta si cambia)
df = pd.read_csv(r"C:\Users\pdani\Downloads\fifa_eda.csv")

# 2) Detectar la columna de país
country_col = "Nationality" if "Nationality" in df.columns else ("País" if "País" in df.columns else None)
if country_col is None:
    raise KeyError("No encontré la columna de país. Usa 'Nationality' o 'País'.")

# 3) Alias para nombres no estándar
aliases = {
    "England": "United Kingdom",
    "Scotland": "United Kingdom",
    "Wales": "United Kingdom",
    "Northern Ireland": "United Kingdom",
    "Ivory Coast": "Côte d'Ivoire",
    "DR Congo": "Congo, The Democratic Republic of the",
    "Korea Republic": "Korea, Republic of",
    "Korea DPR": "Korea, Democratic People's Republic of",
    "Russia": "Russian Federation",
    "Syria": "Syrian Arab Republic",
    "Iran": "Iran, Islamic Republic of",
    "Tanzania": "Tanzania, United Republic of",
    "Moldova": "Moldova, Republic of",
    "Bolivia": "Bolivia, Plurinational State of",
    "Venezuela": "Venezuela, Bolivarian Republic of",
    "Cape Verde": "Cabo Verde",
    "Curacao": "Curaçao",
    "FYR Macedonia": "North Macedonia",
    "Swaziland": "Eswatini",
    "USA": "United States",
    "U.S.": "United States",
}

# 4) Elegir una zona "típica" para países con varias
prefer_tz = {
    "US": "America/New_York",
    "MX": "America/Mexico_City",
    "BR": "America/Sao_Paulo",
    "CA": "America/Toronto",
    "AU": "Australia/Sydney",
    "AR": "America/Argentina/Buenos_Aires",
    "ES": "Europe/Madrid",
    "GB": "Europe/London",
    "FR": "Europe/Paris",
    "DE": "Europe/Berlin",
    "IT": "Europe/Rome",
    "PT": "Europe/Lisbon",
}

# 5) Funciones básicas
def to_iso2(country_name: str):
    if not isinstance(country_name, str):
        return None
    name = aliases.get(country_name.strip(), country_name.strip())
    try:
        return pycountry.countries.lookup(name).alpha_2
    except:
        return None

def country_to_tzname(country_name: str):
    iso = to_iso2(country_name)
    if iso is None:
        return "Desconocida"
    if iso in prefer_tz:
        return prefer_tz[iso]
    tzs = pytz.country_timezones.get(iso, [])
    return tzs[0] if tzs else "Desconocida"

def tz_to_gmt(tzname: str):
    if tzname == "Desconocida":
        return "Desconocida"
    tz = pytz.timezone(tzname)
    h = int(datetime.now(tz).utcoffset().total_seconds() // 3600)
    return f"GMT{h:+d}"

# 6) Crear columnas
df["TZ Name"]   = df[country_col].apply(country_to_tzname)  # p.ej. Europe/Madrid
df["Time Zone"] = df["TZ Name"].apply(tz_to_gmt)            # p.ej. GMT+1

# 7) Verificar y listar los pocos que falten
print(df[[country_col, "TZ Name", "Time Zone"]].head(12))

faltan = df.loc[df["TZ Name"]=="Desconocida", country_col].dropna().unique()
print("Países sin TZ automática:", faltan)

   Nationality                         TZ Name Time Zone
0    Argentina  America/Argentina/Buenos_Aires     GMT-3
1     Portugal                   Europe/Lisbon     GMT+1
2       Brazil               America/Sao_Paulo     GMT-3
3        Spain                   Europe/Madrid     GMT+2
4      Belgium                 Europe/Brussels     GMT+2
5      Belgium                 Europe/Brussels     GMT+2
6      Croatia                   Europe/Zagreb     GMT+2
7      Uruguay              America/Montevideo     GMT-3
8        Spain                   Europe/Madrid     GMT+2
9     Slovenia                Europe/Ljubljana     GMT+2
10      Poland                   Europe/Warsaw     GMT+2
11     Germany                   Europe/Berlin     GMT+2
Países sin TZ automática: ['Bosnia Herzegovina' 'Central African Rep.' 'Turkey'
 'Republic of Ireland' 'China PR' 'Guinea Bissau' 'Kosovo'
 'Trinidad & Tobago' 'São Tomé & Príncipe' 'St Kitts Nevis'
 'Antigua & Barbuda' 'Palestine' 'St Lucia']

In [ ]:

extra_aliases = {
    "Bosnia Herzegovina": "Bosnia and Herzegovina",
    "Central African Rep.": "Central African Republic",
    "Republic of Ireland": "Ireland",
    "China PR": "China",
    "Guinea Bissau": "Guinea-Bissau",
    "Trinidad & Tobago": "Trinidad and Tobago",
    "São Tomé & Príncipe": "Sao Tome and Principe",
    "St Kitts Nevis": "Saint Kitts and Nevis",
    "Antigua & Barbuda": "Antigua and Barbuda",
    "St Lucia": "Saint Lucia",
    "Turkey": "Türkiye",
    "Palestine": "Palestine, State of",
}
# Suma estos alias a los que ya tenías
aliases.update(extra_aliases)

# === 2) Algunos no tienen ISO oficial (ej. Kosovo). Asigna TZ directa por nombre. ===
direct_tz_by_name = {
    "Kosovo": "Europe/Belgrade",  # IANA no tiene 'Europe/Pristina'; usa el huso de Serbia.
}

# === 3) Redefine la función para que primero pruebe el mapeo directo por nombre ===
def country_to_tzname(country_name: str):
    if not isinstance(country_name, str):
        return "Desconocida"
    # Si hay TZ directa por nombre (p.ej. Kosovo), úsala
    if country_name in direct_tz_by_name:
        return direct_tz_by_name[country_name]

    # Normaliza nombre con alias y resuelve ISO
    name_norm = aliases.get(country_name, country_name)
    iso = to_iso2(name_norm)
    if iso is None:
        return "Desconocida"
    if iso in prefer_tz:
        return prefer_tz[iso]

    tzs = pytz.country_timezones.get(iso, [])
    return tzs[0] if tzs else "Desconocida"

# === 4) Regenera columnas de zona horaria ===
df["TZ Name"]   = df[country_col].apply(country_to_tzname)
df["Time Zone"] = df["TZ Name"].apply(tz_to_gmt)

# === 5) Revisa si aún queda alguno sin asignar (deberían ser muy pocos o ninguno) ===
faltan = df.loc[df["TZ Name"]=="Desconocida", country_col].dropna().unique()
print("Países sin TZ automática:", faltan)

# Vista rápida
print(df[[country_col, "TZ Name", "Time Zone"]].head(15))

Países sin TZ automática: []
   Nationality                         TZ Name Time Zone
0    Argentina  America/Argentina/Buenos_Aires     GMT-3
1     Portugal                   Europe/Lisbon     GMT+1
2       Brazil               America/Sao_Paulo     GMT-3
3        Spain                   Europe/Madrid     GMT+2
4      Belgium                 Europe/Brussels     GMT+2
5      Belgium                 Europe/Brussels     GMT+2
6      Croatia                   Europe/Zagreb     GMT+2
7      Uruguay              America/Montevideo     GMT-3
8        Spain                   Europe/Madrid     GMT+2
9     Slovenia                Europe/Ljubljana     GMT+2
10      Poland                   Europe/Warsaw     GMT+2
11     Germany                   Europe/Berlin     GMT+2
12     Uruguay              America/Montevideo     GMT-3
13       Spain                   Europe/Madrid     GMT+2
14      France                    Europe/Paris     GMT+2

In [10]:
# Columna "Candidato" según el potencial
df["Candidato"] = df["Potential"].apply(lambda p: "Candidato" if p > 85 else "Next Year")

# Vista rápida
print(df[["Name", "Overall", "Potential", "Candidato"]].head(10))

                Name  Overall  Potential  Candidato
0           L. Messi       94         94  Candidato
1  Cristiano Ronaldo       94         94  Candidato
2          Neymar Jr       92         93  Candidato
3             De Gea       91         93  Candidato
4       K. De Bruyne       91         92  Candidato
5          E. Hazard       91         91  Candidato
6          L. Modrić       91         91  Candidato
7          L. Suárez       91         91  Candidato
8       Sergio Ramos       91         91  Candidato
9           J. Oblak       90         93  Candidato